.input {
    padding: 20px;
    height: 45px;
    font-size: 25px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-sizing: border-box;
}

label {
    display: flex;
    align-items: center;
    margin: 20px 0 5px 20px;
}


input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    position: relative;
    padding: 20px;
    height: 45px;
    font-size: 25px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 30px;
    box-sizing: border-box;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
  }
  
  input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  
  input[type="date"]::placeholder {
    color: #999;
  }

  @supports (-webkit-touch-callout: none) {
    input[type="date"] {
        padding: 20px;
        height: 45px;
        width: 100%;
        font-size: 25px;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 30px;
        box-sizing: border-box;
    }
  }

  @-moz-document url-prefix() {
    input[type="date"] {
        padding: 0 20px;
        height: 45px;
        font-size: 25px;
        border: 3px solid rgb(0, 0, 0);
        border-radius: 30px;
        box-sizing: border-box;
    }
  }
  
  .definitely_field {
    margin-left: 5px;
    color: rgb(213, 17, 37);
    font-size: 35px;
  }
