.btn {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 800;
    background: repeating-linear-gradient(
        145deg, 
        rgb(1, 65, 199), 
        rgb(1, 65, 199) 30px,
        rgb(213, 17, 37) 30px,
        rgb(213, 17, 37) 50px
    );
    border: none;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s all ease;
    box-sizing: border-box;
    background-size: 200%; 
}

.btn:hover {
    animation: backgroundMove 1.5s ease-in-out forwards;
}


@keyframes backgroundMove {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%; 
    }
}

